<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../css/common/components.css">
    <link rel="stylesheet" href="../../../css/student/drop-down.css">
    <link rel="icon" type="image/svg+xml" href="../../../assets/svg/mb-favicon.svg">
    <title>Tạo nhóm dự án</title>
</head>
<body>
    <header class="header">
        <nav>
            <div class="nav__logo"><a href="">Mentor Booking</a></div>
            <ul class="nav__links" id="nav-links">
                <li class="link"><a href="../../student/profile/personal-info.html">Home</a></li>
                <li class="link"><a href="../../student/profile/services.html">Services</a></li>
                <li class="link"><a href="../../student/profile/contact.html">Contact</a></li>
                <li class="link"><a href="../../student/profile/about.html">About</a></li>
            </ul>
            <div class="nav__menu__btn" id="menu-btn">
                <span><i class="ri-menu-line"></i></span>
            </div>
            <div class="icon">
            <div class="calendarNav">
              <div class="calendar">
                <a href="../../../views/student/profile/schedule.html">
                  <i class="ri-calendar-line"></i>
                  <span class="schedule-text">Schedule</span>
              </a>
              
              </div>
            </div>
            <div class="walletNav">
              <div class="wallet">
                <a href="../../../views/student/profile/wallet.html">
                <i class="ri-wallet-line"></i>
                <span class="wallet-text">Wallet</span>
              </a>
              </div>
            </div>
          </div>
          <div class="action">
            <div class="profile">
              <img src="../../../assets/svg/drop-down/avt.jpg" alt="User Avatar">
            </div>
            <div class="menu">
              <h3 id="username-display">
                <!-- <img src="../../assets/avt.jpg" alt="user avt"> -->
                Tran Hil<br><span>Student</span>
              </h3>
              <ul>
                <li class="registerMentor"><img src="../../../assets/svg/drop-down/r-mentor.svg"><a href="../../../views/auth/register.html">Register as a mentor</a></li>
                <li><img src="../../../assets/svg/drop-down/profile.svg"><a href="edit-info.html">My Profile</a></li>
                <li class="support"><img src="../../../assets/svg/drop-down/help.svg" ><a href="contact.html">Help & Support</a></li>
                <li><img src="../../../assets/svg/drop-down/log-out.svg"><a href="../../../index.html">Log Out</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </header>  
    <section class="section__container about__container">
      <div class="group__contain">
        <div class="group__form">
          <h2 class="section__header">Create group</h2>
          <div class="form__group">
            <label for="groupname">Group name:</label>
            <input type="text" name="groupname" id="groupname">
          </div>
          <div class="form__group">
            <label for="email">Member name:</label>
            <input type="email" name="email" id="email">
          </div>
          <div class="group__btn">
            <button type="button" class="btn-hover">Add menber</button>
            <button type="button" class="btn-hover btn-delete">Delete menber</button>
            <button type="button" class="btn-hover complete">Complete</button>
          </div>
          

        </div>
        <div class="group__info">
          <h2 class="section__header">Group information</h2>
          <div class="list__group">
            <p><strong>Group Name:</strong> <span id="displayGroupName"></span></p>
          </div>
          <div class="list__group">
            <p><strong>Member:</strong> <span id="memberList"></span></p>
          </div>
        </div>
      </div>
    </section> 
    <script src="../../../js/student/create-group.js"></script>

</body>
</html>
