<div class="mentor-search">
    <div class="search-filters">
        <form id="searchForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Kỹ năng</label>
                        <select multiple class="form-control" id="skillsFilter">
                            <!-- Skills options -->
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Thời gian rảnh</label>
                        <input type="date" class="form-control" id="availabilityFilter">
                    </div>
                </div>
                <!-- More filters -->
            </div>
        </form>
    </div>
    <div class="search-results" id="mentorResults">
        <!-- Results rendered dynamically -->
    </div>
</div>