<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  <title>Mentor Booking | Profile</title>
  <link rel="stylesheet" href="../../../css/common/components.css">
  <link rel="stylesheet" href="../../../css/student/drop-down.css">
  <link rel="stylesheet" href="../../../css/student/edit-info.css">
  <link rel="icon" type="image/svg+xml" href="../../../assets/svg/mb-favicon.svg">

</head>
<body>
  <header class="header">
    <nav>
      <div class="nav__logo"><a href="personal-info.html">Mentor Booking</a></div>
      <ul class="nav__links" id="nav-links">
          <li class="link"><a href="personal-info.html">Home</a></li>
          <li class="link"><a href="services.html">Services</a></li>
          <li class="link"><a href="contact.html">Contact</a></li>
          <li class="link"><a href="about.html">About</a></li>
      </ul>
      <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
      </div>
      <div class="icon">
      <div class="calendarNav">
        <div class="calendar">
          <a href="../../../views/student/profile/schedule.html">
            <i class="ri-calendar-line"></i>
            <span class="schedule-text">Schedule</span>
        </a>
        
        </div>
      </div>
      <div class="walletNav">
        <div class="wallet">
          <a href="../../../views/student/profile/wallet.html">
          <i class="ri-wallet-line"></i>
          <span class="wallet-text">Wallet</span>
        </a>
        </div>
      </div>
    </div>
      <div class="action">
        <div class="profile">
          <img src="../../../assets/svg/drop-down/avt.jpg" alt="User Avatar">
        </div>
        <div class="menu">
          <h3 id="username-display">
            <!-- <img src="../../assets/avt.jpg" alt="user avt"> -->
            Tran Hil<br><span>Student</span>
          </h3>
          <ul>
            <li class="registerMentor"><img src="../../../assets/svg/drop-down/r-mentor.svg"><a href="../../../views/auth/register.html">Register as a mentor</a></li>
            <li><img src="../../../assets/svg/drop-down/profile.svg"><a >My Profile</a></li>
            <li class="group"><img src="../../../assets/svg/drop-down/group.svg" ><a href="../projects/create-group.html">Group</a></li>
            <li><img src="../../../assets/svg/drop-down/log-out.svg"><a href="../../../index.html">Log Out</a></li>
          </ul>
        </div>
      </div>
  </nav>
<div class="form-container">
  <form class="info-form">
      <div class="form-group">
          <h2>Personal information</h2>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" id="lastName" name="lastName" required>
  </div>

      
      <div class="form-group">
          <label for="dob">Birthday:</label>
          <input type="date" id="dob" name="dob" required>
      </div>
      <div class="form-group full-width">
          <button type="submit">Update</button>
      </div>
  </form>
</div>

<script src="../../../js/student/drop-down.js"></script>
</body>
</html>