<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  <title>Mentor Booking | Profile</title>
  <link rel="stylesheet" href="../../../css/common/components.css">
  <link rel="stylesheet" href="../../../css/student/drop-down.css">
  <link rel="stylesheet" href="../../../css/student/edit-info.css">
  <link rel="icon" type="image/svg+xml" href="../../../assets/svg/mb-favicon.svg">

</head>
<body>
  <header class="header">
    <nav>
      <div class="nav__logo-nonavlinks"><a href="personal-info.html">Mentor Booking</a></div>
      
      <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
      </div>
      <div class="icon">
      <div class="calendarNav">
        <div class="calendar">
          <a href="../../../views/student/profile/schedule.html">
            <i class="ri-calendar-line"></i>
            <span class="schedule-text">Schedule</span>
        </a>
        
        </div>
      </div>
      <div class="walletNav">
        <div class="wallet">
          <a href="../../../views/student/profile/wallet.html">
          <i class="ri-wallet-line"></i>
          <span class="wallet-text">Wallet</span>
        </a>
        </div>
      </div>
    </div>
      <div class="action">
        <div class="profile">
          <img id="user-avatar" src="../../../assets/svg/drop-down/avt.jpg" alt="User Avatar">
        </div>
        <div class="menu">
          <h3 id="username-display">
            <!-- <img src="../../assets/avt.jpg" alt="user avt"> -->
            <span id="name-user">Name</span>
            <br><span>Student</span>
          </h3>
          <ul>
            <li class="registerMentor"><img src="../../../assets/svg/drop-down/r-mentor.svg"><a href="../../../views/auth/register.html">Register as a mentor</a></li>
            <li><img src="../../../assets/svg/drop-down/home.svg"><a href="../profile/personal-info.html">Home</a></li>
            <li><img src="../../../assets/svg/drop-down/profile.svg"><a >My Profile</a></li>
            <li class="group"><img src="../../../assets/svg/drop-down/group.svg" ><a href="../projects/group-details.html">Group</a></li>
            <li><img src="../../../assets/svg/drop-down/log-out.svg"><a href="../../../index.html">Log Out</a></li>
          </ul>
        </div>
      </div>
  </nav>
<div class="form-container">
  <form class="info-form">
            <h2>Personal information</h2>
            <div class="form-group" id="profile-details">
                <!-- Phần thông tin người dùng sẽ được hiển thị ở đây nếu có dữ liệu -->

                <p><strong>Name:</strong> <span id="name-display"></span></p>
                <p><strong>Phone:</strong> <span id="phone-display"></span></p>
                <p><strong>UserID:</strong> <span id="userId-display"></span></p>
                <div class="group__btn">
                  <a href="edit-info.html" class="btn-hover add-profile-btn" style="flex:1;">Edit profile</a>
                  <a href="add-avatar.html" class="btn-hover" style="flex:1;">Add avatar</a>
                </div>

              </div>
          
      
          <!-- Nút Add Profile, hiển thị khi không có dữ liệu -->
          <div class="add-profile" id="add-profile" style="display: none;">
            <p>No profile data available.</p>
            <a href="edit-info.html" class="btn-hover add-profile-btn">Add Profile</a>
          </div>
  </form>
</div>

<script src="../../../js/student/drop-down.js"></script>
<script src="../../../js/student/info.js"></script>
<script>
  
</script>
</body>
</html>