<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Scheduler</title>
    <link rel="stylesheet" href="../../../css/student/schedule.css">
    <link rel="icon" type="image/svg+xml" href="../../../assets/svg/mb-favicon.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="header">
            <a href="#" class="back-button"></a>
            <h1>My Schedule</h1>
        </div>
        <div id="schedule-container"></div>
    </div>
    <div id="schedule-container"></div>

    <script src="../../../js/student/schedule.js"></script>
</body>
</html>