<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/common/components.css">
  <link rel="stylesheet" href="../../../css/mentor/drop-down.css">
  <link rel="stylesheet" href="../../../css/student/edit-info.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="icon" type="image/svg+xml" href="../../../assets/svg/mb-favicon.svg">
</head>
<body>
  <header class="header">
    <nav>
        <div class="nav__logo"><a href="../../mentor/profile/personal-info.html">Mentor Booking</a></div>
        <ul class="nav__links" id="nav-links">
            <!-- <li class="link"><a href="#home">Home</a></li>
            <li class="link"><a href="#services">Services</a></li>
            <li class="link"><a href="#contact">Contact</a></li>
            <li class="link"><a href="#about">About</a></li> -->
        </ul>
        <div class="nav__menu__btn" id="menu-btn">
            <span><i class="ri-menu-line"></i></span>
        </div>
        <div class="icon">
        <div class="calendarNav">
          <div class="calendar">
              <i class="ri-calendar-line"></i>
          </div>
        </div>
        <div class="walletNav">
          <div class="wallet">
            <i class="ri-wallet-line"></i>
          </div>
        </div>
      </div>
        <div class="action">
          <div class="profile">
            <img src="../../../assets/svg/drop-down/avt.jpg" alt="User Avatar">
          </div>
          <div class="menu">
            <h3 id="username-display">
              <!-- <img src="../../assets/avt.jpg" alt="user avt"> -->
              Tran Hil<br><span>Mentor</span>
            </h3>
            <ul>
              <li class="registerMentor"><img src="../../../assets/svg/drop-down/r-mentor.svg"><a href="../../../views/auth/register.html">Register as a mentor</a></li>
              <li><img src="../../../assets/svg/drop-down/profile.svg"><a href="#MyProfile">My Profile</a></li>
              <li class="support"><img src="../../../assets/svg/drop-down/help.svg" ><a href="../../../views/components/contact.html">Help & Support</a></li>
              <li><img src="../../../assets/svg/drop-down/log-out.svg"><a href="../../../index.html">Log Out</a></li>
            </ul>
          </div>
        </div>
    </nav>
<div class="form-container">
  <form class="info-form">
      <div class="form-group">
          <h2>Personal information</h3>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" id="lastName" name="lastName" required>
  </div>

      
      <div class="form-group">
          <label for="dob">Birthday:</label>
          <input type="date" id="dob" name="dob" required>
      </div>
      <div class="form-group full-width">
          <button type="submit">Update</button>
      </div>
  </form>
</div>
<footer class="footer">
  <div class="section__container footer__container">
    <div class="footer__content">
      <h4>STAY CONNECTED WITH OUR MENTOR COMMUNITY</h4>
      <p>
        Subscribe to receive valuable insights, tips, and the latest news on mentorship programs.
        Enter your email to stay updated!
      </p>
    </div>
    <div class="footer__form">
      <form action="/">
        <input type="text" placeholder="Enter your email" />
        <button>Subscribe</button>
      </form>
    </div>
  </div>
  <div class="section__container footer__bar">
    <div class="footer__logo">
      <h4><a href="#">MentorHub</a></h4>
      <p>Copyright © 2024 MentorHub</p>
    </div>
    <ul class="footer__nav">
      <li class="footer__link"><a href="#">About Us</a></li>
      <li class="footer__link"><a href="#">Become A Mentor</a></li>
      <li class="footer__link"><a href="#">Contact Support</a></li>
      <li class="footer__link"><a href="#">Privacy Policy</a></li>
    </ul>
    <ul class="footer_social">
      <li class="footer__link"><a href="#"><i class="ri-instagram-line"></i></a></li>
      <li class="footer__link"><a href="#"><i class="ri-facebook-fill"></i></a></li>
      <li class="footer__link"><a href="#"><i class="ri-linkedin-fill"></i></a></li>
    </ul>
  </div>
</footer>
<script src="../../../js/student/drop-down.js"></script>
</body>
</html>