<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../../assets/svg/mb-favicon.svg">
    <title>Mentor Booking | Register Mentor</title>
    <link rel="stylesheet" href="../../css/sign-up/register.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
   
</head>
<body>
    <div class="modal">
    <div class="mentor-form">
        <a href="../../index.html"><i class="ri-arrow-left-line back-btn" onclick="backToMain()"></i></a>
        <div class="center-wrap">
            <div class="section text-center">
                <h4 class="mb-4 pb-3">Register to be mentor</h4>
                <div class="form-group">
                    <!-- <input type="text" class="form-style" placeholder="Your major" id="specialty" autocomplete="off"> -->
                     <select name="major" id="major">
                        <option value="C#">C#</option>
                        <option value="C++">C++</option>
                        <option value="PHP">PHP</option>
                        <option value="Python">Python</option>
                        <option value="C">C</option>    
                        <option value="JS">Javascript</option>
                        <option value="Java">Java</option>  
                        <option value="Html/css">Html/Css</option>
                        <option value="frontend">Frontend</option>
                        <option value="backend">Backend</option>
                        <option value="fullstack">Fullstack</option>
                        <!-- 
                            C# 
                            C++
                            PHP
                            Python
                            C
                            JS
                            Java
                            Html/css
                            frontend
                            backend
                            fullstack
                     -->
                     </select>
                </div>
                <div class="form-group mt-2">
                    <!-- <input type="number" class="form-style" placeholder="Your experience" id="experience" autocomplete="off"> -->
                     <select name="experience" id="experience">
                     <option value="1">1 year</option>
                     <option value="2">2 - 3 years</option>
                     <option value="3">> 3 years</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-style" placeholder="Your CV" id="cvLink" autocomplete="off">
                </div>
                <a href="../../views/mentor/profile/personal-info.html" class="btn mt-4" onclick="submitMentorForm()">Đăng ký</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>