<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to be a Mentor</title>
    <link rel="stylesheet" href="../../css/sign-up/register.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="modal">
        <div class="mentor-form">
            <a href="../../views/student/profile/personal-info.html">
                <i class="ri-arrow-left-line back-btn" onclick="backToMain()"></i>
            </a>
            <div class="center-wrap">
                <div class="section text-center">
                    <h4 class="mb-4 pb-3">Register to be a Mentor</h4>
                    <form id="mentor-form" onsubmit="submitMentorForm(event)">
                        <div class="form-group">
                            <select name="major" id="major" class="form-style">
                                <option value="C#">C#</option>
                                <option value="C++">C++</option>
                                <option value="PHP">PHP</option>
                                <option value="Python">Python</option>
                                <option value="C">C</option>    
                                <option value="JS">Javascript</option>
                                <option value="Java">Java</option>  
                                <option value="Html/css">Html/Css</option>
                                <option value="frontend">Frontend</option>
                                <option value="backend">Backend</option>
                                <option value="fullstack">Fullstack</option>
                            </select>
                        </div>
                        <div class="form-group mt-2">
                            <!-- Change to input for experience -->
                            <input type="number" name="experience" id="experience" class="form-style" placeholder="Enter years of experience" min="1" required />
                        </div>
                        <div class="form-group mt-2">
                            <textarea class="form-style" placeholder="Your description" id="cvLink" autocomplete="off"></textarea>
                        </div>
                        <button type="submit" class="btn mt-4">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
    </script>
</body>
</html>
